OPENAI_API_KEY="some-key"
GROQ_API_KEY="some-key"
LANGCHAIN_API_KEY="some-key"
TAVILY_API_KEY="some-key"

ASTRA_DB_API_ENDPOINT="some-key"
ASTRA_DB_APPLICATION_TOKEN="some-key"
PINECONE_API_KEY="some-key"